<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-sm-offset-1 col-md-offset-2">
            <nav class="navbar navbar-dark bg-dark">
            <ul class="nav nav-tabs">
                <li role="presentation" class="nav-item active" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a class="nav-link" routerLink="/">Home</a> </li>
                <li role="presentation" class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/server">Servers</a> </li>
                <li role="presentation" class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/user">Users</a> </li>
            </ul>
        </nav>
        </div>
    </div>

<div class="row">
    <div class="col-xs-12 col-sm-10 col-md-sm-offset-1 col-md-offset-2">
        <router-outlet></router-outlet>
    </div>
</div>
</div>
<!-- <div class="container">
    <app-cockpit (serverCreated)="onServerAdded($event)" (blueprintCreated)="onBlueprintAdded($event)"></app-cockpit>
    <div class="row">
        <div class="col-xs-12">
            <app-server-element *ngFor="let serverElement of serverElements" [element]="serverElement"></app-server-element>
        </div>
    </div>
</div> -->